[landslide]
;theme  = default
source = sources/00_titulo.md
         sources/01_introduccion.md
         sources/02_python.md
         sources/03_django.md
destination = build/clase_01.html
css = styles.css
js = conf.js
relative = True
;copy_theme = True
linenos = inline
embed = True
